SHEET1       SHEETINFO "D:\\Escritorio\\archivos-cobol\\PowerCobol\\programaDeIncremento.win"
EXEINFO      EXEINFO
BEGIN
        0x54,
        0x103,
        0x8,
        0x2c,
        0xc,
        0x13,
        0x4f50,
        0x4357,
        0x424f,
        0x7000,
        0x6f72,
        0x7267,
        0x6d61,
        0x4461,
        0x4965,
        0x636e,
        0x6572,
        0x656d,
        0x746e,
        0x2e6f,
        0x5845,
        0x45,
        0x20,
        0x250,
        0x100,
        0xe0f7,
        0x10,
        0x1,
        0x1,
        0xe,
        0x1,
        0xe,
        0x3,
        0x17,
        0x4853,
        0x4545,
        0x3154,
        0x0,
        0x8,
        0x250,
        0x100,
        0xd4f6
END
